/* ========================================
   BASE STYLES
   - CSS variables
   - Global styles
   - Typography
   - Helper classes
======================================== */
@font-face {
    font-family: "Viktor Script";
    src:
      url("../fonts/ViktorScript-Regular.woff2") format("woff2"),
      url("../fonts/ViktorScript-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
 

  @font-face {
    font-family: "Salitia";
    src: 
       /* url("../fonts/Salitia.woff2") format("woff2"),
       url("../fonts/Salitia.ttf") format("truetype"), */
       url("../fonts/Salitia-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "sneakers-script";
    src: url("../fonts/sneakers-script.woff2") format("woff2"),
    url("../fonts/sneakers-script.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }


  

:root {
    --primary-font: 'Rubik', sans-serif;
    --secondary-font: 'Viktor Script';
    --cta-font: 'Salitia';
    --text-color: #333;
    --primary-color: #007bff;
    --accent-color: #dc3545;
    --background-gradient-start: #62a8c4;
    --background-gradient-end: #ffffff;
    --product-border-color:#eef1f5;
}


body {
    font-family: var(--primary-font);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: darken(var(--primary-color), 10%);
    text-decoration: none;
}
a.btn-white{
  font-weight: 400;
}
a.btn-white:hover{
  color:white !important;
}
